/* nav bar */
nav{
    background-color: darkseagreen;
    color: white;
    width: 100%;
}

.logonav{
    display: flex;
}

.logo img{
    float: left;
    height: 100%;
}

.bar{
    display: flex;
}

.bar ol{
    list-style-type: none;
    margin: 0;
    padding:5px;
    display: flex;
    align-items: center;
}


.navbar{
    font-size: 1.5em;
    padding: 1em;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Slider Delphine */
div#sliderDelph {
    width: 80%;
}

div#sliderDelph figure {
    position: relative;
    width: 200%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
}

div#sliderDelph figure img{
    width: 50%;
    height: auto;
    float: left;
}

div#sliderDelph {
    width: 100%;
    max-width: 100%;
    height: 350px;
    overflow: hidden;
}

@keyframes slidy {
    0% { left: 0% }
    50% { left: -50%; }
    100% { left: -100%; }
}
div#sliderDelph figure {
    position: relative;
    width: 200%;
    margin: 0;
    padding: 0;
    font-size: 0;
    left: 0;
    text-align: left;
    animation: 10s slidy infinite;
}

/* Balises Delphine */
body {
    font-size: 14px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    color: #F76C6C;
    font-size: 18px;
}

h3 {
    color: #F76C6C;
    font-size: 16px;
}

a {
    color: #F76C6C;
    text-decoration: none;
}

a:visited {
    color: darkseagreen;
    text-decoration: none;
}

.vrac ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
}

img {
    width: 100%;
    height: auto;
}

.emballages {
    width: 320px;
    margin: auto;
}
/* Formulaire de contact */
form
{
    width: 320px;
    margin: auto;
    color: dimgray;
}

form label
{
    display: block;
    padding-bottom: 10px;
}

form input
{
    padding: 0 10px;
}

form input, form textarea
{
    height: 40px;
    width: 290px;
    margin-bottom: 20px;
    box-shadow: none;
    border: 1px solid #8F8F8F;
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form textarea
{
    padding: 10px;
    height: 150px;

}

form button
{
    width: 150px;
    height: 40px;
    background-color: darkseagreen;
    color: whitesmoke;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    float: right;
}

/* Footer */
footer
{
    margin-top: 50px;
    background-color: darkseagreen;
    padding: 5px 0;
    color: whitesmoke;
    width: 100%;
    height: 110px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer li
{
    height: 57px;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
}

.liste
{
    padding-left: 0;
    padding-top: 24px;
    float: right;
    list-style: none;
}

footer a {
    color: whitesmoke;
    font-weight:bold;
}

footer a:visited {
    color: #F76C6C;
    text-decoration: none;
}
/* Responsive */

/* Tablet Styles */
@media screen and (min-width: 401px) and (max-width: 960px) {
    .what li {
        font-size: 16px;
        margin: auto;
        display: inline-block;
    }
    h2 {
        font-size: 22px;
    }
    form {
        width:75%;
    }
    .emballages {
        width:75%;
    }
    form input, form textarea {
        width:400px;
    }
    form textarea {
        height: 200px;
    }
}

/* Desktop Styles */
@media screen and (min-width: 961px) {
    .what li {
        font-size: 16px;
        margin: auto;
        display: inline-block;
        width: 50%;
        border-radius: 10px;
        padding: 10px;
    }
    .vrac ul {
        padding: 0;
        list-style: none;
        display: flex;
    }
    h2 {
        font-size:26px;
    }
    form {
        width:50%;
    }
    .emballages {
        width:50%;
    }
    form input, form textarea {
        width:500px;
    }
    form textarea {
        height:300px;
    }
}
