* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titre{
    text-align: center;
}

article{
    text-align: center;
    padding: 10px;
}

.informations{
    background: lightgrey;
}

.descriptions{
    background: grey;
}