* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: darkseagreen;
    color: white;
}

.logo{
    width: 30%;
    padding: 0px;
}

.bar ol{
    list-style-type: none;
    padding: 5px;
    margin: 0;
}

.navbar{
    display: inline-block;
    padding: 10px;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

div#slider{
    width: 80%;
}

div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
}

div#slider figure img{
    width: 20%;
    height: auto;
    float: left;
}

div#slider{
    width: 100%;
    max-width: 100%;
    height: 350px;
    overflow: hidden;
}

@keyframes slidy {
    0% { left: 0% }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}
div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    left: 0;
    text-align: left;
    animation: 30s slidy infinite;
}

.titre{
    text-align: center;
    margin: 20px;
}

h1 {
    color: darkseagreen;
}

.dechets{
    width: 80%;
    margin: 10px 10% 10px;
}

article{
    width: 100%;
    display: inline-block;
    overflow-wrap: break-word;
}

li{
    list-style: circle;
    padding: 0.3em;
}

.informations{
}

.informations img{
    float: left;
    padding: 0.3em;
    width: 20%;
}

.descriptions{
    background: grey;
}

.descriptions img{
    float: right;
    padding: 0.3em;
    width: 35%;
}